{% extends "base.html" %}
{% load static %}
{% load account %}

{% block content %}

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Welcome to the Django Starter App (Authorization + Postgres)</h1>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-4">

            <!-- Illustrations -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Why use starter projects?</h6>
                </div>
                <div class="card-body">
                    <p>How long does it usually take you to setup user authentication, a postgres database, and a nice Bootstrap template when you're building a new web application?</p>
                    <p>
                        For me, it usually took 2-3 hours of setup work. But it doesn't make sense to do the exact same setup every time you want to create a new Django project. Using <a href="https://www.youtube.com/channel/UCeXWf8ttB2Q8-xTmEoTDkZg">Django in Minutes</a> starter projects, you can have all of this setup in <strong><u>under 5 minutes!</u></strong>
                    </p>
                    
                    <!-- Embed Youtube Video -->
                    <div class="iframe-container row">
                        <iframe class="responsive-iframe" width="560" height="315" src="https://www.youtube.com/embed/4seIp_kaaWM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                </div>
            </div>

            <!-- Approach -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">If this helps you, please show us some love :)</h6>
                </div>
                <div class="card-body">
                    <ul>
                        <li>Subscribe to our <a href="https://www.youtube.com/channel/UCeXWf8ttB2Q8-xTmEoTDkZg">YouTube Channel: Django in Minutes</a> - we'll be creating more starter projects!</li>
                        <li>Like and/or Comment on our <a href="https://youtu.be/4seIp_kaaWM">Tutorial Video</a> - we'd love to hear your thoughts and suggestions!</li>
                        <li>Star our <a href="https://github.com/NoahFinberg/djangostarterproject">Github Repo</a> - and open any issues or pull requests if you'd like to contribute to the code!</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}